h2{
    font-size: 2rem;
    color: #ffd6d6;
    margin-bottom: 1rem;
}
p{
    font-size: 23px;
    color: #ffffff;
    margin-bottom: 20px;
    max-width: 500px;

}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image:url(https://media.cntraveler.com/photos/66668a4b352fb7400e650b24/16:9/w_2560%2Cc_limit/Belly%2520of%2520the%2520beast%2520menu%2520August%25202023%2520-%2520Claire%2520Gunn%2520Photo.jpg) ;
}
.dv1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
